engine-strict=false

save-workspace-protocol=rolling
save-prefix=''

# @toolchain/typescript-config
public-hoist-pattern[]='typescript'

# @toolchain/eslint-config
public-hoist-pattern[]='eslint'

# @toolchain/vitest-config
public-hoist-pattern[]='vitest'
public-hoist-pattern[]='@vitest/coverage-v8'
