name: code-quality
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run ESLint check
        run: pnpm run lint

  type-check:
    name: Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run type checks
        run: pnpm run typecheck

  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run unit tests
        run: pnpm run test
