name: monorepo-health
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  one-version-check:
    name: One Version Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Run One Version check
        run: pnpm run one-version:check

  duplicate-dependencies-check:
    name: Duplicate Dependencies Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Prepare
        uses: ./.github/composite-actions/prepare

      - name: Check for Duplicate Dependencies
        run: pnpm dedupe --check
